*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:45:45 2022                  # latest modification
*base_name caravan                              # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/caravan.materialdb
*stdcfcdb CFClayers.db2.a
*mlc ../dbs/caravan.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*clm ../dbs/caravan.climate
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/caravan.log                       # associated notes about the project
#
# ---- year and seasons ----
*year 1967                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Sun-01-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*daytag holiday, holiday,   1
*day_types    4                                 # day types & type for each day of year
 4,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
#
# ---- site ----
*latlong  45.500   -8.500                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt  250.0                                 # site altitude (m)
#
# ---- simulation directives ----
*radcore  4                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   5   4  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    0   4  10   4   0  15   3  15   3  default  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr caravan.res
*sflr caravan.mfr
#
# ---- building attributes ----
*building  a slf-moving room
*zones    3                                     # number of zones
*zon   1                                        # reference for main
*opr ../zones/main.opr                          # schedules
*geo ../zones/main.geo                          # geometry
*con ../zones/main.con                          # constructions
*tmc ../zones/main.tmc                          # transparent constructions
*ise ../tmp/Z1.shd                              # embedded S/I calculation
*zon   2                                        # reference for second
*opr ../zones/second.opr
*geo ../zones/second.geo
*con ../zones/second.con
*tmc ../zones/second.tmc
*ise ../tmp/Z2.shd
*zon   3                                        # reference for third
*opr ../zones/third.opr
*geo ../zones/third.geo
*con ../zones/third.con
*tmc ../zones/third.tmc
*ise ../tmp/Z3.shd
#
# ---- building topology ----
*cnn caravan.cnn                                # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../nets/caravan.afn # flow network file
 main,second,third
*plant none                                     # no system network
