*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:48:26 2022                  # latest modification
*base_name office                               # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/multicon.db
*opt ../dbs/optics.db1
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/job.notes                         # associated notes about the project
*contents ../doc/office.contents                # contents report for the project
#
# ---- year and seasons ----
*year 1967                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Sun-01-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
#
# ---- site ----
*latlong  52.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/office.ctl                          # model control file
*rif office.rcf
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
#
# ---- building attributes ----
*building  Tower office with electrochromic glazing and daylight linking control
*zones    4                                     # number of zones
*zon   1                                        # reference for office-s
*opr ../zones/office.opr                        # schedules
*geo ../zones/office-s.geo                      # geometry
*con ../zones/office-s.con                      # constructions
*cgc ../zones/office-s.cgc                      # casual gain control
*zon   2                                        # reference for office-w
*opr ../zones/office.opr
*geo ../zones/office-w.geo
*con ../zones/office-w.con
*cgc ../zones/office-w.cgc                      # casual gain control
*zon   3                                        # reference for office-n
*opr ../zones/office.opr
*geo ../zones/office-n.geo
*con ../zones/office-n.con
*cgc ../zones/office-n.cgc                      # casual gain control
*zon   4                                        # reference for office-e
*opr ../zones/office.opr
*geo ../zones/office-e.geo
*con ../zones/office-e.con
*cgc ../zones/office-e.cgc                      # casual gain control
#
# ---- building topology ----
*cnn office.cnn                                 # surface connections file
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
