*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:44:17 2022                  # latest modification
*base_name cellular_shd_daily                   # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*stdmlc multicon.db
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/cellular_shd.log                  # associated notes about the project
*contents ../doc/cellular_offices_shd.contents  # contents report for the project
*img ANIM  FZON  ../images/shading_animation.gif
*imdoc Use an animated gif tool to look at shading patterns
*img PNG   FZON  ../images/cellular_spring_morning.png
*imdoc A radiance rendering in mid-morning in March.
#
# ---- year and seasons ----
*year 2000                                      # assessment year
*seasons 
*winter_season   2  1 12  3 30 10 31 12         # periods Sun-02-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Sun-06-Feb--Sat-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 257      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  53
*daytag holiday, holiday,   3
*daytag other, alternative use or control,   0
*day_types    5                                 # day types & type for each day of year
 4,3,4,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,4,1,1,1,1,2,3
#
# ---- site ----
*latlong  46.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt   50.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/cellular_shd.ctl                    # model control file
*rif ../rad/cellular_shd.rcf
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps   14   3   2  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set   18   4  10   4   0   1   1  28   2  win1_s4  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr cellular_shd_jan-feb_s4_emb.res
*set   18   4  10   4   0  17   4  23   4  spr_s4
*sblr cellular_shd_spr_s4_emb.res
*set   18   4  10   4   0   1   5  30   8  sum_s4
*sblr cellular_shd_sum_s4_emb.res
*set   18   4  10   4   0   2  10   8  10  aut_s4
*sblr cellular_shd_aut_s4_emb.res
*set   18   4  10   4   0   1   1  31  12  annual_s4
*sblr cellular_shd_annual_s4_emb.res
*set   18  20   1   4   0   1   1  28   2  janfeb20
*sblr cellular_shd_janfeb20_emb.res
*set   18  20   1   4   0  17   4  23   4  week20
*sblr cellular_shd_week20_emb.res
*set   18  20   1   4   0   1   5  30   8  summer20
*sblr cellular_shd_summer20_emb.res
*set   18  20   1   4   0   1   1  31  12  annual20
*sblr cellular_shd_annual20_emb.res
*set   18   2  10   4   0   6   2  12   2  win1_s2
*sblr cellular_shd_win1_s2_emb.res
*set   18   2  10   4   0  17   4  23   4  spr_s2
*sblr cellular_shd_spr_s2_emb.res
*set   18   2  10   4   0   3   7   9   7  sum_s2
*sblr cellular_shd_sum_s2_emb.res
*set   18   2  10   4   0   2  10   8  10  aut_s2
*sblr cellular_shd_aut_s2_emb.res
*set   18   2  10   4   0  20  11  26  11  win2_s2
*sblr cellular_shd_win2_s2_emb.res
#
# ---- post-processing ----
*ipv ../msc/cellular_shd_daily.ipv
*intipv cellular_shdipv.rep
#
# ---- building attributes ----
*vew     45.3  -162.0    44.6     2.9     2.2     1.7  2.6
*building  Adjacent cellular offices: vertical fin overhang: daily shading
*zones    3                                     # number of zones
*zon   1                                        # reference for manager_a
*opr ../zones/manager_a.opr                     # schedules
*geo ../zones/manager_a.geo                     # geometry
*con ../zones/manager_a.con                     # constructions
*ise ../tmp/Z1.shd                              # embedded S/I calculation
*zon   2                                        # reference for manager_b
*opr ../zones/manager_b.opr
*geo ../zones/manager_b.geo
*con ../zones/manager_b.con
*ise ../tmp/Z2.shd
*zon   3                                        # reference for corridor
*opr ../zones/corridor.opr
*geo ../zones/corridor.geo
*con ../zones/corridor.con
#
# ---- building topology ----
*cnn cellular_shd_daily.cnn                     # surface connections file
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
