*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:58:22 2022                  # latest modification
*base_name mould                                # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../networks                             # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/mould.mlc
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/mould.log                         # associated notes about the project
*contents ../doc/mould.contents                 # contents report for the project
*img GIF   FZON  ../images/mould.gif
*imdoc no documentation (yet) for this image
*img GIF   FZON  ../images/result.gif
*imdoc no documentation (yet) for this image
*img GIF   FZON  ../images/mycotoxin.gif
*imdoc no documentation (yet) for this image
#
# ---- year and seasons ----
*year 2000                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Sat-01-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Sun-06-Feb--Sat-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
#
# ---- site ----
*latlong  50.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/mould.ctl                           # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
#
# ---- building attributes ----
*building  House with mould infestation.
*zones   11                                     # number of zones
*zon   1                                        # reference for bin_c
*opr ../zones/bin_c.opr                         # schedules
*geo ../zones/bin_c.geo                         # geometry
*con ../zones/bin_c.con                         # constructions
*zon   2                                        # reference for stairs
*opr ../zones/stairs.opr
*geo ../zones/stairs.geo
*con ../zones/stairs.con
*zon   3                                        # reference for hall_1
*opr ../zones/hall_1.opr
*geo ../zones/hall_1.geo
*con ../zones/hall_1.con
*zon   4                                        # reference for kitchen
*opr ../zones/kitchen.opr
*geo ../zones/kitchen.geo
*con ../zones/kitchen.con
*zon   5                                        # reference for liv_room
*opr ../zones/liv_room.opr
*geo ../zones/liv_room.geo
*con ../zones/liv_room.con
*zon   6                                        # reference for bathrm
*opr ../zones/bathrm.opr
*geo ../zones/bathrm.geo
*con ../zones/bathrm.con
*zon   7                                        # reference for bed_south
*opr ../zones/bed_south.opr
*geo ../zones/bed_south.geo
*con ../zones/bed_south.con
*zon   8                                        # reference for w_heat_c
*opr ../zones/w_heat_c.opr
*geo ../zones/w_heat_c.geo
*con ../zones/w_heat_c.con
*zon   9                                        # reference for hall_2
*opr ../zones/hall_2.opr
*geo ../zones/hall_2.geo
*con ../zones/hall_2.con
*zon  10                                        # reference for north_beds
*opr ../zones/north_beds.opr
*geo ../zones/north_beds.geo
*con ../zones/north_beds.con
*zon  11                                        # reference for loft
*opr ../zones/loft.opr
*geo ../zones/loft.geo
*con ../zones/loft.con
#
# ---- building topology ----
*cnn mould.cnn                                  # surface connections file
*Group  2
ground_level,   5
 1 2 3 4 5
Upper_rooms,   5
 6 7 8 9 10
*End
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../networks/mould.mfn # flow network file
 0,stairs,hall1,kitch,liv,bathm,sbed,whc,hall2,nbed,roof
*plant none                                     # no system network
