*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:46:45 2022                  # latest modification
*base_name cellular_hires                       # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*stdmlc multicon.db
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm GBR_Aberdeen.Dyce
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/cellular_offices_bc.log           # associated notes about the project
*contents ../doc/cellular_hires_ocup.contents  # contents report for the project
#
# ---- year and seasons ----
*year 1994                                      # assessment year
*seasons 
*winter_season   1  1  6  3  7 11 31 12         # periods Sat-01-Jan--Sun-06-Mar & Mon-07-Nov--Sat-31-Dec
*spring_season   7  3  8  5 29  8  6 11         # periods Mon-07-Mar--Sun-08-May & Mon-29-Aug--Sun-06-Nov
*summer_season   9  5 28  8                     # period Mon-09-May--Sun-28-Aug
*winter_typical  22  1 28  1 21 11 27 11        # periods Sat-22-Jan--Fri-28-Jan & Mon-21-Nov--Sun-27-Nov
*spring_typical   4  4 10  4 19  9 25  9        # periods Mon-04-Apr--Sun-10-Apr & Mon-19-Sep--Sun-25-Sep
*summer_typical   8  8 14  8                    # period Mon-08-Aug--Sun-14-Aug
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 259      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  53
*daytag sunday, Sundays (all year),  53
*day_types    3                                 # day types & type for each day of year
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2
#
# ---- site ----
*latlong  30.130    1.400                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/cellular_bc.ctl                     # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    6   3  10  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    3  10  10   4   0   8   2  14   2  win1  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr cellular_hi_res_win1.res
*set    3  10  10   4   0  17   4  23   4  spr
*sblr cellular_hi_res_spr.res
*set    3  10  10   4   0   4   7  10   7  sum
*sblr cellular_hi_res_sum.res
*set    3  10  10   4   0   2  10   8  10  aut
*sblr cellular_hi_res_aut.res
*set    3  10  10   4   0  20  11  26  11  win2
*sblr cellular_hi_res_win2.res
*set    3  10  10   4   0   1   1  31  12  year
*sblr cellular_hiresyear.res
#
# ---- post-processing ----
*ipv ../msc/cellular_hires.ipv
*intipv cellular_hi_resipv.rep
#
# ---- building attributes ----
*building  Two adjacent cellular offices with walls subdivided
*zones    6                                     # number of zones
*zon   1                                        # reference for manager_a
*opr ../zones/manager_a.opr                     # schedules
*geo ../zones/manager_a.geo                     # geometry
*con ../zones/manager_a.con                     # constructions
*ivf ../zones/manager_a.vwf                     # view factors
*isi ../zones/manager_a.shd                     # pre-constructed S/I file
*zon   2                                        # reference for corridor
*opr ../zones/corridor.opr
*geo ../zones/corridor.geo
*con ../zones/corridor.con
*ivf ../zones/corridor.vwf
*zon   3                                        # reference for manager_b
*opr ../zones/manager_b.opr
*geo ../zones/manager_b.geo
*con ../zones/manager_b.con
*isi ../zones/manager_b.shd
*zon   4                                        # reference for manager_E+
*opr ../zones/manager_E+.opr
*geo ../zones/manager_E+.geo
*con ../zones/manager_E+.con
*ivf ../zones/manager_E+.vwf
*isi ../zones/manager_E+.shd
*zon   5                                        # reference for corridor_c
*opr ../zones/corridor_c.opr
*geo ../zones/corridor_c.geo
*con ../zones/corridor_c.con
*ivf ../zones/corridor_c.vwf
*zon   6                                        # reference for manager_ASH
*opr ../zones/manager_ASH.opr
*geo ../zones/manager_ASH.geo
*con ../zones/manager_ASH.con
*isi ../zones/manager_ASH.shd
#
# ---- building topology ----
*cnn cellular_hires.cnn                         # surface connections file
*Group  2
Left_Offices,   3
 1 2 3
Right_Offices,   3
 4 5 6
*End
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
