* CONFIGURATION4.0
# ESRU system configuration defined by file 
# uncertain_opr.cfg
*date Fri Nov 17 09:40:33 2017  # latest file modification 
*root uncertain_opr
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth ../bsm                    # path to BASESIMP files
*radcore  1  # number of cores available to Radiance
*indx    1 # Building only
 55.900   -4.100   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db4.a
*stdcfcdb  CFClayers.db1.a
*stdmlc  multicon.db4
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  clm67
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*stdpredef  predefined.db1
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*contents ../doc/uncertain_20_jwh.contents
*calename standard weekday Sat Sun hol
*calentag weekdays, weekdays (all year), 260
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*calentag holiday, holiday,   1
*list    4
 4,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*ual  uncertain_opr.ual
*year  2007 # assessment year
*water_in_zones 0.6  998.2 4190.0    0.0 # water cond density spec ht shortwave abs
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    1  21   4  10   4   0
   1   2  28   2  default # period & name
*sblr uncertain_opr.res
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/uncertain.log
* Building
model to test uncertainty with +- 20%
      1  # no of zones
*zon   1   # reference for room        
*opr ../zones/room.opr  # schedules
*geo ../zones/room.geo  # geometry
*con ../zones/room.con  # construction
*tmc ../zones/room.tmc  # transparent constr
*zend 
*cnn uncertain.cnn  # connections
   0   # no fluid flow network
