*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:47:11 2022                  # latest modification
*base_name office_vent_pre_nv_hvac              # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/office_vent_constr.db4
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm can_ottawa
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*predef ../dbs/office_vent_bc.predef.c
#
# ---- documentation and images ----
*notes ../doc/office_vent.log                   # associated notes about the project
*contents ../doc/office_vent_hvac_5kw_infil.txt  # contents report for the project
*img PNG   FZON  ../images/seat_preview.png
*imdoc example of a pre-defined explicit chair used in offices
*img PNG   FZON  ../images/general_hvac_along2.png
*imdoc Radiance rendering of the general office
*img PNG   FNET  ../images/flow_in_general_specifying_source_node.png
*imdoc flow paths in general office
*img PNG   FZON  ../images/populated_office_model_wire_frame.png
*imdoc variety of rooms at one end of an office building
*img PNG   FNET  ../images/nat_vent_use_generated_network.png
*imdoc flow network generated from surface USE
#
# ---- year and seasons ----
*year 1997                                      # assessment year
*seasons 
*winter_season   1  1  3  4 17 10 31 12         # periods Wed-01-Jan--Thu-03-Apr & Fri-17-Oct--Wed-31-Dec
*spring_season   4  4  8  5 29  8 16 10         # periods Fri-04-Apr--Thu-08-May & Fri-29-Aug--Thu-16-Oct
*summer_season   9  5 28  8                     # period Fri-09-May--Thu-28-Aug
*winter_typical  12  2 18  2 28 11  4 12        # periods Wed-12-Feb--Tue-18-Feb & Fri-28-Nov--Thu-04-Dec
*spring_typical   2  5  8  5  5  9 11  9        # periods Fri-02-May--Thu-08-May & Fri-05-Sep--Thu-11-Sep
*summer_typical  15  8 21  8                    # period Fri-15-Aug--Thu-21-Aug
#
# ---- primary energy conversions ----
*pecnv  1.530 1.440 3.600 3.600 3.600 1.530     # PEC heat cool lights fan sml pwr hot water
*htemis   190.000    0.300    0.200             # heating emissions CO2,NOX,SOX
*clemis   612.000    2.060    7.570             # cooling emissions CO2,NOX,SOX
*ltemis   612.000    2.060    7.570             # lighting emissions CO2,NOX,SOX
*fnemis   612.000    2.060    7.570             # fan/pump emissions CO2,NOX,SOX
*spemis   612.000    2.060    7.570             # small power emissions CO2,NOX,SOX
*hwemis   190.000    0.300    0.200             # DHW emissions CO2,NOX,SOX
#
# ---- site ----
*latlong  46.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt   50.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/office_vent_hvac_infil.ctl          # model control file
*rif ../rad/office_vent_pre_nvc.rcf
#
# ---- simulation directives ----
*radcore  2                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    6   3   4  10   2   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    3  30  10   2   0   1   1   7   1  win1  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr office_vent_pre_nv_hvac_win1.res
*sflr office_vent_pre_nv_hvac_win1.mfr
*set    3  30  10   2   0  10   4  16   4  spr
*sblr office_vent_pre_nv_hvac_spr_b.res
*sflr office_vent_pre_nv_hvac_spr_b.mfr
*set    3  30  10   2   0   9   5  14   5  sum
*sblr office_vent_pre_nv_hvac_sum.res
*sflr office_vent_pre_nv_hvac_sum.mfr
*set    3  30  10   2   0  29   8  16  10  aut
*sblr office_vent_pre_nv_hvac_aut.res
*sflr office_vent_pre_nv_hvac_aut.mfr
*set    3  20  10   2   0  17  10  31  12  win2
*sblr office_vent_pre_nv_hvac_win2.res
*sflr office_vent_pre_nv_hvac_win2.mfr
*set    3  10  10   2   0   1   1  31  12  annual
*sblr office_vent_pre_nv_hvac_annual.res
*sflr office_vent_pre_nv_hvac_annual.mfr
#
# ---- building attributes ----
*vew    -52.7  -121.5   112.9     6.5     8.4     1.8 40.0
*building  High resolution office model - 3D network & HVAC mixing controls
*zones   10                                     # number of zones
*zon   1                                        # reference for manager
*opr ../zones/manager.opr                       # schedules
*geo ../zones/manager_b.geo                     # geometry
*con ../zones/manager_b.con                     # constructions
*ivf ../zones/manager_b.vwf                     # view factors
*isi ../zones/manager_b.shd                     # pre-constructed S/I file
*zon   2                                        # reference for general
*opr ../zones/general.opr
*geo ../zones/general_a.geo
*con ../zones/general_a.con
*ivf ../zones/general_a.vwf
*isi ../zones/general_a.shd
*zon   3                                        # reference for conference
*opr ../zones/conference.opr
*geo ../zones/conference.geo
*con ../zones/conference.con
*ivf ../zones/conference.vwf
*isi ../zones/conference.shd
*zon   4                                        # reference for reception
*opr ../zones/reception.opr
*geo ../zones/reception_a.geo
*con ../zones/reception_a.con
*ivf ../zones/reception_a.vwf
*isi ../zones/reception_a.shd
*zon   5                                        # reference for ceil_void
*opr ../zones/ceil_void.opr
*geo ../zones/ceil_void.geo
*con ../zones/ceil_void.con
*ivf ../zones/ceil_void.vwf
*zon   6                                        # reference for mix_op_man
*opr ../zones/mixing.opr
*geo ../zones/mixing_box.geo
*con ../zones/mixing_box.con
*zon   7                                        # reference for floor_void
*opr ../zones/floor_void.opr
*geo ../zones/floor_void.geo
*con ../zones/floor_void.con
*ivf ../zones/floor_void.vwf
*zon   8                                        # reference for ceiling_belo
*opr ../zones/ceil_below.opr
*geo ../zones/ceil_belowg.geo
*con ../zones/ceil_below.con
*ivf ../zones/ceil_below.vwf
*zon   9                                        # reference for mb_recep
*opr ../zones/mixing.opr
*geo ../zones/mb_recep.geo
*con ../zones/mb_recep.con
*zon  10                                        # reference for mb_conf
*opr ../zones/mixing.opr
*geo ../zones/mb_conf.geo
*con ../zones/mb_conf.con
#
# ---- building topology ----
*cnn office_vent_pre_nv_hvac.cnn                # surface connections file
#
# ---- networks ----
*flow network                                   # fluid flow network
../nets/office_vent_pre_3D_nvc.3dafn # flow network file
 manager,general,conference,reception,ceil_void,mix_op_man,floor_void,ceiling_belo,mb_recep,mb_conf
*plant none                                     # no system network
