*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:03:03 2022                  # latest modification
*base_name ahu                                  # base name for model files
*indx    3                                      # building & plant
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../networks                             # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/constr_db3.materialdb
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/multicon.db2
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/ahu.log                           # associated notes about the project
*contents ../doc/ahu.contents                   # contents report for the project
*img GIF   FNET  ../images/ahu.gif
*imdoc no documentation (yet) for this image
#
# ---- year and seasons ----
*year 2007                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Mon-01-Jan--Mon-12-Mar & Tue-30-Oct--Mon-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Tue-13-Mar--Mon-14-May & Tue-04-Sep--Mon-29-Oct
*summer_season  15  5  3  9                     # period Tue-15-May--Mon-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Tue-06-Feb--Mon-12-Feb & Tue-20-Nov--Mon-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Tue-17-Apr--Mon-23-Apr & Tue-02-Oct--Mon-08-Oct
*summer_typical   3  7  9  7                    # period Tue-03-Jul--Mon-09-Jul
#
# ---- site ----
*latlong  51.700   -0.500                       # latitude & longitude difference (from reference meridian)
*site       2   0.200                           # exposure: typical urban & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/ahu.ctl                             # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
#
# ---- building attributes ----
*building  Base case three zone model with mass flow
*zones    3                                     # number of zones
*zon   1                                        # reference for reception
*opr ../zones/reception.opr                     # schedules
*geo ../zones/reception.geo                     # geometry
*con ../zones/reception.con                     # constructions
*zon   2                                        # reference for office
*opr ../zones/office.opr
*geo ../zones/office.geo
*con ../zones/office.con
*zon   3                                        # reference for roof_space
*opr ../zones/roof_space.opr
*geo ../zones/roof_space.geo
*con ../zones/roof_space.con
#
# ---- building topology ----
*cnn ahu.cnn                                    # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../networks/ahu.afn # flow network file
 n2,0,0
*plant Base case three zone model with mass flow
../networks/ahu.pnf                             # plant network file
