* CONFIGURATION4.0
# ESRU system configuration defined by file 
# box_network_3D.cfg
*date Tue Apr 24 15:44:04 2018  # latest file modification 
*root box_network
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth ../bsm                    # path to BASESIMP files
*radcore  1  # number of cores available to Radiance
*indx    1 # Building only
 55.900   -4.100   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db4.a
*stdcfcdb  CFClayers.db1.a
*stdmlc  multicon.db5
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  clm67
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*stdpredef  predefined.db1
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*ctl  ../ctl/box_network.ctl
*contents ../doc/box_network.contents
*calename standard weekday Sat Sun hol
*calentag weekdays, weekdays (all year), 260
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*calentag holiday, holiday,   1
*list    4
 4,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*year  2007 # assessment year
*water_in_zones 0.6  998.2 4190.0    0.0 # water cond density spec ht shortwave abs
*img GIF   FZON  ../images/box_network.gif
*imdoc View from the south-east showing the large glazing and frame
*img TIF   FNET  ../images/box_networkg.tiff
*imdoc This is the flow network summary and layout of nodes and components
*ipv  4,2,i5t     # IPV data follows
*title,a simple model for learning graphic netw
*version,Version box_network                     
*date,Tue Apr 24 15:44:04 2018
*synop,:The box_network
*images,0
*simulations,5
*period,37,43,1st winter run                          
*period,107,113,spring run                              
*period,184,190,summer run                              
*period,275,281,autumn run                              
*period,324,330,2nd winter run                          
*display_days,5,38,108,185,276,325
season multipliers: heating|cooling|lights|fans|smallp|DWH
*win1,1.000,1.000,1.000,1.000,1.000,1.000
*spr,1.000,1.000,1.000,1.000,1.000,1.000
*sum,1.000,1.000,1.000,1.000,1.000,1.000
*aut,1.000,1.000,1.000,1.000,1.000,1.000
*win2,1.000,1.000,1.000,1.000,1.000,1.000
*metrics,2
# metric data: metric index, nb zones, 2 miscel , floor area
*metric_1,6,0,1,1,9.0,1.000,1.000,comfort,ocup_zones,Resultant T (degC)
 1
*metric_2,11,0,0,1,9.0,1.000,1.000,Infil,infil_zones,Infiltration (W)
 1
*demand_sets, 1  # number of energy demand sets
# nb. zones, 2 miscel, aggregate_toggle floor area, scaling descrip
*energy_1,0,0,0,0,1.0,1.000,zones
# non-specific demands: occup/light/sm pwr/fans/pumps/lifts/dhw
*dmds,0,0,0,0,0,0,0
*end_ipv
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    5   5  10  10   4   0
   5  10  10   4   0   6   2  12   2  win1 # period & name
*sblr box_network_win1.res
*sflr box_network_win1.mfr
*end_set
   5  10  10   4   0  17   4  23   4  spr # period & name
*sblr box_network_spr.res
*sflr box_network_spr.mfr
*end_set
   5  10  10   4   0   3   7   9   7  sum # period & name
*sblr box_network_sum.res
*sflr box_network_sum.mfr
*end_set
   5  10  10   4   0   2  10   8  10  aut # period & name
*sblr box_network_aut.res
*sflr box_network_aut.mfr
*end_set
   5  10  10   4   0  20  11  26  11  win2 # period & name
*sblr box_network_win2.res
*sflr box_network_win2.mfr
*end_set
*end_sps
*intipv box_networkipv.rep
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/box_network.log
* Building
a simple model for learning graphic networks
      1  # no of zones
*zon   1   # reference for box         
*opr ../zones/box.opr  # schedules
*geo ../zones/box.geo  # geometry
*con ../zones/box.con  # construction
*tmc ../zones/box.tmc  # transparent constr
*zend 
*cnn box_network_3D.cnn  # connections
   3   # fluid flow network:
../nets/box_network.3dafn    # leakage description
 box
