*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:06:03 2022                  # latest modification
*base_name sport_cen                            # base name for model files
*indx    3                                      # building & plant
#
# ---- model folders ----
*zonpth ./zones                                 # path to zone files
*netpth ./networks                              # path to network files
*ctlpth ./ctl                                   # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ./                                      # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ./dbs                                   # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/sport_cen.mlc
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/sport_cen.log                     # associated notes about the project
*contents ../doc/sport_cen_cgc.contents         # contents report for the project
*img GIF   FZON  ../images/2exploded.gif
*imdoc exploded view of the model (view from south-west)
*img GIF   FNET  ../images/3plant.gif
*imdoc schematic of the compoents of the environmental control
*img GIF   FCTL  ../images/4lighting_ctl.gif
*imdoc lighting control reduces the load during the majority of the day
*img GIF   FPER  ../images/5plant_out.gif
*imdoc temperatures and system contributions on an April day
*img GIF   FCTL  ../images/6light_power.gif
*imdoc distribution of power demand
*img GIF   FELN  ../images/7electrical.gif
*imdoc chematic of electrical network
#
# ---- year and seasons ----
*year 1999                                      # assessment year
*seasons 
*winter_season   2  1 12  3 30 10 31 12         # periods Sat-02-Jan--Fri-12-Mar & Sat-30-Oct--Fri-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Sat-13-Mar--Fri-14-May & Sat-04-Sep--Fri-29-Oct
*summer_season  15  5  3  9                     # period Sat-15-May--Fri-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Sat-06-Feb--Fri-12-Feb & Sat-20-Nov--Fri-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Sat-17-Apr--Fri-23-Apr & Sat-02-Oct--Fri-08-Oct
*summer_typical   3  7  9  7                    # period Sat-03-Jul--Fri-09-Jul
#
# ---- site ----
*latlong  52.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/chp_onoff.ctl                       # model control file
*rif sport_cen.rcf
*pnt ../networks/sport_cen.enf
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   1  60   4   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    1  60   4   4   0   3   4   3   4  transi  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr sport_cen.res
*sflr sport_cen.mfr
*splr sport_cen.plr
*selr sport_cen.elr
#
# ---- building attributes ----
*building  Translation from XZIP
*zones    5                                     # number of zones
*zon   1                                        # reference for changing
*opr ../zones/changing.opr                      # schedules
*geo ../zones/changing.geo                      # geometry
*con ../zones/changing.con                      # constructions
*cgc ../zones/changing.cgc                      # casual gain control
*zon   2                                        # reference for gym
*opr ../zones/gym.opr
*geo ../zones/gym.geo
*con ../zones/gym.con
*cgc ../zones/gym.cgc                           # casual gain control
*zon   3                                        # reference for main-hall
*opr ../zones/main-hall.opr
*geo ../zones/hall.geo
*con ../zones/main-hall.con
*cgc ../zones/main-hall.cgc-df                  # casual gain control
*zon   4                                        # reference for entrance
*opr ../zones/entrance.opr
*geo ../zones/entrance.geo
*con ../zones/entrance.con
*zon   5                                        # reference for plant
*opr ../zones/plant.opr
*geo ../zones/plant.geo
*con ../zones/plant.con
#
# ---- building topology ----
*cnn sport_cen.cnn                              # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../networks/sport_cen.afn # flow network file
 chgng,gym,hall,entry,plant
*plant Translation from XZIP
../networks/sport_cen_chp.pnf                   # plant network file
