* CONFIGURATION4.0
# ESRU system configuration defined by file 
# cfd_benchmark_gr.cfg
*date Wed May 27 14:34:17 2015  # latest file modification 
*root cfd_benchmark_gr
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ../aim2                   # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ../hvac                   # path to hvac files
*bsmpth ../bsm                    # path to BASESIMP files
*indx    1 # Building only
 55.900   -4.100   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db3.a
*stdcfcdb  CFClayers.db1.a
*stdmlc  multicon.db3
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  clm67
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*contents ../doc/cfd_benchmark_gr.contents
*calename standard weekday Sat Sun hol
*calentag weekdays, weekdays (all year), 260
*calentag saturday, Saturdays (all year),  52
*calentag sunday, Sundays (all year),  52
*calentag holiday, holiday,   1
*list    4
 4,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
*end_list
*year  2007 # assessment year
*img TIF   ****  ../images/geometry_for_gridding_title.tiff
*imdoc Zone geometry setup with surface for inlet and outlet
*img TIF   FDFS  ../images/cfd_gridding_16x5x10_resolution.tiff
*imdoc Moderate level of grid resolution regions based on auto grid and edited
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/cfd_benchmark.log
* Building
small space with cfd domain with an inlet and outlet
      1  # no of zones
*zon   1   # reference for test_space  
*opr ../zones/test_space.opr  # schedules
*geo ../zones/test_space.geo  # geometry
*con ../zones/test_space.con  # construction
*cfd ../zones/test_space_16_5_10_decoupled_ke.dfd  # cfd domain
*zend 
*cnn cfd_benchmark_gr.cnn  # connections
   0   # no fluid flow network
