*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:01:54 2022                  # latest modification
*base_name 3BR_wch_obj                          # base name for model files
*indx    3                                      # building & plant
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/3BR_detached.materialdb
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/3BR_detached.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db2
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*predef ../dbs/predefined.db3
#
# ---- documentation and images ----
*notes ../doc/3BR_det_1960.log                  # associated notes about the project
*contents ../doc/3BR_wch_obj_c.contents         # contents report for the project
*img GIF   FPLN  ../images/3HP.gif
*imdoc Layout of the system components (supply side)
#
# ---- year and seasons ----
*year 2007                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Mon-01-Jan--Mon-12-Mar & Tue-30-Oct--Mon-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Tue-13-Mar--Mon-14-May & Tue-04-Sep--Mon-29-Oct
*summer_season  15  5  3  9                     # period Tue-15-May--Mon-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Tue-06-Feb--Mon-12-Feb & Tue-20-Nov--Mon-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Tue-17-Apr--Mon-23-Apr & Tue-02-Oct--Mon-08-Oct
*summer_typical   3  7  9  7                    # period Tue-03-Jul--Mon-09-Jul
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*daytag holiday, holiday,   1
*day_types    4                                 # day types & type for each day of year
 4,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
#
# ---- site ----
*latlong  55.900   -4.100                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/3BR_wch_obja.ctl                    # model control file
*rif ../rad/3BR_wch_obj.rcf
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    6   2  60   1   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    1  60   1   2   0   9   2  12   2  win1  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr 3BR_wch_obj_win1.res
*sflr 3BR_wch_obj_win1.mfr
*splr 3BR_wch_obj_win1.plr
*set    2  60   1   4   0  23   4  29   4  spr
*sblr 3BR_wch_obj_sprb.res
*sflr 3BR_wch_obj_sprb.mfr
*splr 3BR_wch_obj_sprb.plr
*set    2  60   1   4   0   3   7   9   7  sum
*sblr 3BR_wch_obj_sum.res
*sflr 3BR_wch_obj_sum.mfr
*splr 3BR_wch_obj_sum.plr
*set    2  60   1   4   0   2  10   8  10  aut
*sblr 3BR_wch_obj_aut.res
*sflr 3BR_wch_obj_aut.mfr
*splr 3BR_wch_obj_aut.plr
*set    2  60   1   4   0  20  11  26  11  win2
*sblr 3BR_wch_obj_win2.res
*sflr 3BR_wch_obj_win2.mfr
*splr 3BR_wch_obj_win2.plr
*set    2  60   1   4   0   3   1  31  12  annual
*sblr 3BR_wch_obj_annual.res
*sflr 3BR_wch_obj_annual.mfr
*splr 3BR_wch_obj_annual.plr
#
# ---- post-processing ----
*ipv ../msc/3BR_wch_obj.ipv
*intipv 3BR_wch_obj_ipv.rep
#
# ---- building attributes ----
*vew    -40.1  -161.6    43.6     3.8     4.5     3.6 40.0
*building  An high resolution 88m2 3BR detached house (WCH).
*zones   24                                     # number of zones
*zon   1                                        # reference for hall
*opr ../zones/passages.opr                      # schedules
*geo ../zones/hall.geo                          # geometry
*con ../zones/hall.con                          # constructions
*ivf ../zones/hall.vwf                          # view factors
*isi ../zones/hall.shd                          # pre-constructed S/I file
*zon   2                                        # reference for living
*opr ../zones/living.opr
*geo ../zones/living.geo
*con ../zones/living.con
*ivf ../zones/living.vwf
*isi ../zones/living.shd
*zon   3                                        # reference for dining
*opr ../zones/dining.opr
*geo ../zones/dining.geo
*con ../zones/dining.con
*ivf ../zones/dining.vwf
*isi ../zones/dining.shd
*zon   4                                        # reference for kitchen
*opr ../zones/kitchen.opr
*geo ../zones/kitchen.geo
*con ../zones/kitchen.con
*ivf ../zones/kitchen.vwf
*isi ../zones/kitchen.shd
*zon   5                                        # reference for upper_hall
*opr ../zones/passages.opr
*geo ../zones/upper_hall.geo
*con ../zones/upper_hall.con
*zon   6                                        # reference for bedroom1
*opr ../zones/main_br.opr
*geo ../zones/bedroom1.geo
*con ../zones/bedroom1.con
*ivf ../zones/bedroom1.vwf
*isi ../zones/bedroom1.shd
*zon   7                                        # reference for bedroom3
*opr ../zones/small_br.opr
*geo ../zones/bedroom3.geo
*con ../zones/bedroom3.con
*ivf ../zones/bedroom3.vwf
*isi ../zones/bedroom3.shd
*zon   8                                        # reference for bedroom2
*opr ../zones/small_br.opr
*geo ../zones/bedroom2.geo
*con ../zones/bedroom2.con
*ivf ../zones/bedroom2.vwf
*isi ../zones/bedroom2.shd
*zon   9                                        # reference for bath
*opr ../zones/main_bath.opr
*geo ../zones/bath.geo
*con ../zones/bath.con
*ivf ../zones/bath.vwf
*isi ../zones/bath.shd
*zon  10                                        # reference for attic
*opr ../zones/attic.opr
*geo ../zones/attic.geo
*con ../zones/attic.con
*ivf ../zones/attic.vwf
*zon  11                                        # reference for equipment
*opr ../zones/equipment.opr
*geo ../zones/equipment.geo
*con ../zones/equipment.con
*ivf ../zones/equipment.vwf
*zon  12                                        # reference for crawl
*opr ../zones/crawl.opr
*geo ../zones/crawl.geo
*con ../zones/crawl.con
*zon  13 Water                                  # reference for rad_bath
*opr ../zones/radiator.opr
*geo ../zones/rad_bath.geo
*con ../zones/radiator.con
*ihc ../zones/rad_bath.htc                      # convective heat transfer coefficient file
*zon  14 Water                                  # reference for rad_br3
*opr ../zones/radiator.opr
*geo ../zones/rad_br3.geo
*con ../zones/radiator.con
*ihc ../zones/rad_br3.htc                       # convective heat transfer coefficient file
*zon  15                                        # reference for boiler_case
*opr ../zones/boiler_case.opr
*geo ../zones/boiler_case.geo
*con ../zones/boiler_case.con
*ivf ../zones/boiler_case.vwf
*zon  16 Water                                  # reference for rad_br2
*opr ../zones/radiator.opr
*geo ../zones/rad_br2.geo
*con ../zones/rad_br2.con
*ihc ../zones/rad_br2.htc                       # convective heat transfer coefficient file
*zon  17 Water                                  # reference for rad_dining
*opr ../zones/radiator.opr
*geo ../zones/rad_dining.geo
*con ../zones/rad_dining.con
*ihc ../zones/rad_dining.htc                    # convective heat transfer coefficient file
*zon  18 Water                                  # reference for rad-mbr
*opr ../zones/radiator.opr
*geo ../zones/rad-mbr.geo
*con ../zones/rad-mbr.con
*ihc ../zones/rad-mbr.htc                       # convective heat transfer coefficient file
*zon  19 Water                                  # reference for rad_lounge
*opr ../zones/radiator.opr
*geo ../zones/rad_lounge.geo
*con ../zones/rad_lounge.con
*ihc ../zones/rad_lounge.htc                    # convective heat transfer coefficient file
*zon  20 Water                                  # reference for rad_kit
*opr ../zones/radiator.opr
*geo ../zones/rad_kit.geo
*con ../zones/rad_kit.con
*ihc ../zones/rad_kit.htc                       # convective heat transfer coefficient file
*zon  21 Water                                  # reference for rad-hall
*opr ../zones/radiator.opr
*geo ../zones/rad-hall.geo
*con ../zones/rad-hall.con
*ihc ../zones/rad-hall.htc                      # convective heat transfer coefficient file
*zon  22 Water                                  # reference for water_jacket
*opr ../zones/water_jacket.opr
*geo ../zones/water_jacket.geo
*con ../zones/water_jacket.con
*ihc ../zones/water_jacket.htc                  # convective heat transfer coefficient file
*zon  23                                        # reference for gas
*opr ../zones/gas.opr
*geo ../zones/gas.geo
*con ../zones/gas.con
*ihc ../zones/gas.htc                           # convective heat transfer coefficient file
*zon  24                                        # reference for mixer
*opr ../zones/mixer.opr
*geo ../zones/mixer.geo
*con ../zones/mixer.con
#
# ---- building topology ----
*cnn 3BR_wch_obj.cnn                            # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../nets/3BR_wch_obja.afn # flow network file
 hall,living,dining,kitchen,upper_hall,bedroom1,bedroom3,bedroom2,bath,attic,equipment,crawl,0,0,boiler_case,0,0,0,0,0,0,0, 
 gas,mixer
*plant An high resolution 88m2 3BR detached house (WCH).
../nets/3BR_wch_obj.pln                         # plant network file
