* CONFIGURATION4.0
# ESRU system configuration defined by file 
# office_vent_pre_3D.cfg
*date Tue Apr 10 10:36:33 2018  # latest file modification 
*root office_vent_pre_3D
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ./                        # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*radcore  2  # number of cores available to Radiance
*indx    1 # Building only
 46.000    0.000   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db4.a
*stdcfcdb  CFClayers.db1.a
*mlc  ../dbs/office_vent_constr.db4
*stdopt  optics.db2
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  can_ottawa
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*predef  ../dbs/office_vent_bc.predef.c
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*ctl  ../ctl/office_vent_pre.ctl
*contents ../doc/office_vent_pre_3D.contents
*vew    -52.7  -121.5   112.9     6.5     8.4     1.8 40.0
*seasons
*name	Ottawa CWEC 1997 IWMO 716280
*aide	Ottawa 1966 (sourced from NRCan/DoE)
*winter_s  1  1  3  4 17 10 31 12 # seasons Wed-01-Jan--Thu-03-Apr & Fri-17-Oct--Wed-31-Dec
*spring_s  4  4  8  5 29  8 16 10 # seasons Fri-04-Apr--Thu-08-May & Fri-29-Aug--Thu-16-Oct
*summer_s  9  5 28  8 # summer season Fri-09-May--Thu-28-Aug
*winter_t 12  2 18  2 28 11  4 12 # typical Wed-12-Feb--Tue-18-Feb & Fri-28-Nov--Thu-04-Dec
*spring_t  2  5  8  5  5  9 11  9 # typical Fri-02-May--Thu-08-May & Fri-05-Sep--Thu-11-Sep
*summer_t 15  8 21  8 # typical summer Fri-15-Aug--Thu-21-Aug
*help_start
Climate is Ottawa ON CAN located at 45.32N and 0.67W.
The solar radiation is Direct Normal. Dry bulb temperatures:
 Month     Minimum  Time           Maximum  Time        Mean
 Jan       -25.0 @ 5h00 Mon 27     6.8 @ 4h00 Wed  1   -11.5
 Feb       -21.1 @ 7h00 Wed 26     4.7 @14h00 Thu 20    -9.3
 Mar       -12.2 @ 5h00 Thu  6    11.1 @17h00 Mon 24    -2.1
 Apr       -12.8 @ 6h00 Fri  4    22.2 @15h00 Sun 27     5.6
 May         0.0 @ 5h00 Tue  6    23.9 @15h00 Wed 28    12.2
 Jun         6.7 @ 4h00 Wed  4    30.6 @14h00 Tue 10    18.1
 Jul         8.5 @ 4h00 Sun 27    33.0 @14h00 Sun 20    20.3
 Aug         9.7 @ 6h00 Thu 14    29.9 @15h00 Fri  1    19.3
 Sep         0.5 @ 5h00 Sat 20    28.0 @15h00 Mon  1    14.2
 Oct        -6.7 @ 6h00 Thu 23    23.3 @16h00 Sat 11     7.4
 Nov       -11.7 @ 3h00 Fri 28    17.4 @ 6h00 Sat  1     1.2
 Dec       -23.3 @ 8h00 Sat 27    12.2 @12h00 Sat  6    -7.4
 All  -25.0 @ 5h00 Mon 27 Jan   33.0 @14h00 Sun 20 Jul   5.7
 Typical winter week begins Monday 21 February,
 Typical spring week begins Monday 2 May,
 Typical summer week begins Monday 15 August.
 Typical autumn week begins Monday 11 September.
 Typical winter week begins Monday 28 November,
*season_end
*year  1997 # assessment year
*water_in_zones 0.6  998.2 4190.0    0.0 # water cond density spec ht shortwave abs
*img PNG   ****  ../images/seat_preview.png
*imdoc example of a pre-defined explicit chair used in offices
*img PNG   ****  ../images/general_pre_Intern_along2a.png
*imdoc Radiance rendering of the general office
*img PNG   ****  ../images/office_pre_3D_network_overlayed.png
*imdoc infiltration overlayed on zone wireframe
*img PNG   FZON  ../images/overall_mass_visual_obs.png
*imdoc variety of rooms at one end of an office building
*img PNG   FNET  ../images/office_pre_3D_network_only.png
*imdoc flow network with cracks in facade and openings between rooms
# prim energy conv (heat,cool,lights,fan,sml pwr,hot water)
*pecnv  1.530 1.440 3.600 3.600 3.600 1.530
*htemis   190.000    0.300    0.200 # heating emissions CO2,NOX,SOX
*clemis   612.000    2.060    7.570 # cooling emissions CO2,NOX,SOX
*ltemis   612.000    2.060    7.570 # lighting emissions CO2,NOX,SOX
*fnemis   612.000    2.060    7.570 # fan/pump emissions CO2,NOX,SOX
*spemis   612.000    2.060    7.570 # small power emissions CO2,NOX,SOX
*hwemis   190.000    0.300    0.200 # dhw emissions CO2,NOX,SOX
*ipv  4,2,i5s     # IPV data follows
*title,Office model for network flow studies - 
*version,Version office_vent_empty               
*date,Tue Apr 10 10:36:33 2018
*synop,:The office_vent_bc
*images,0
*simulations,5
*period,1,93,1st winter sea                          
*period,94,128,spring sea                              
*period,129,240,summer sea                              
*period,241,289,autumn sea                              
*period,290,365,2nd winter sea                          
*display_days,5,2,95,130,242,291
season multipliers: heating|cooling|lights|fans|smallp|DWH
*win1,1.000,1.000,1.000,1.000,1.000,1.000
*spr,1.000,1.000,1.000,1.000,1.000,1.000
*sum,1.000,1.000,1.000,1.000,1.000,1.000
*aut,1.000,1.000,1.000,1.000,1.000,1.000
*win2,1.000,1.000,1.000,1.000,1.000,1.000
*metrics,1
# metric data: metric index, nb zones, 2 miscel , floor area
*metric_1,6,1,1,4,180.0,1.000,1.000,comfort,ocup_zones,Resultant T (degC)
 1,2,3,4
*demand_sets, 1  # number of energy demand sets
# nb. zones, 2 miscel, aggregate_toggle floor area, scaling descrip
*energy_1,4,0,0,0,180.0,1.000,zones
 1,2,3,4
# non-specific demands: occup/light/sm pwr/fans/pumps/lifts/dhw
*dmds,0,0,0,0,0,0,0
*end_ipv
*rif  ../rad/office_vent_pre2.rcf
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    6   3   4  10   2   0
   3   4  10   2   0   1   1   3   4  win1 # period & name
*sblr office_vent_pre_3D_win1.res
*sflr office_vent_pre_3D_win1.mfr
*end_set
   3   4  10   2   0   4   4   8   5  spr # period & name
*sblr office_vent_pre_3D_spr.res
*sflr office_vent_pre_3D_spr.mfr
*end_set
   3   4  10   2   0   9   5  28   8  sum # period & name
*sblr office_vent_pre_3D_sum.res
*sflr office_vent_pre_3D_sum.mfr
*end_set
   3   4  10   2   0  29   8  16  10  aut # period & name
*sblr office_vent_pre_3D_aut.res
*sflr office_vent_pre_3D_aut.mfr
*end_set
   3   4  10   2   0  17  10  31  12  win2 # period & name
*sblr office_vent_pre_3D_win2.res
*sflr office_vent_pre_3D_win2.mfr
*end_set
   3   4  10   2   0   1   1  31  12  annual # period & name
*sblr office_vent_pre_3Dannual.res
*sflr office_vent_pre_3Dannual.mfr
*end_set
*end_sps
*intipv office_vent_preipv.rep
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/office_vent.log
* Building
Office model populated with predefined entities - 3D network infiltratio
      8  # no of zones
*zon   1   # reference for manager     
*opr ../zones/manager.opr  # schedules
*geo ../zones/manager_a.geo  # geometry
*con ../zones/manager.con  # construction
*tmc ../zones/manager.tmc  # transparent constr
*ivf ../zones/manager.vwf # viewfactors
*isi ../zones/manager.shd  # shading db 
*zend 
*zon   2   # reference for general     
*opr ../zones/general.opr  # schedules
*geo ../zones/general_a.geo  # geometry
*con ../zones/general.con  # construction
*tmc ../zones/general.tmc  # transparent constr
*ivf ../zones/general_b.vwf # viewfactors
*isi ../zones/general.shd  # shading db 
*zend 
*zon   3   # reference for conference  
*opr ../zones/conference.opr  # schedules
*geo ../zones/conference.geo  # geometry
*con ../zones/conference.con  # construction
*tmc ../zones/conference.tmc  # transparent constr
*ivf ../zones/conference_c.vwf # viewfactors
*isi ../zones/conference.shd  # shading db 
*zend 
*zon   4   # reference for reception   
*opr ../zones/reception.opr  # schedules
*geo ../zones/reception_a.geo  # geometry
*con ../zones/reception.con  # construction
*tmc ../zones/reception.tmc  # transparent constr
*ivf ../zones/reception_a.vwf # viewfactors
*isi ../zones/reception.shd  # shading db 
*zend 
*zon   5   # reference for ceil_void   
*opr ../zones/ceil_void.opr  # schedules
*geo ../zones/ceil_void.geo  # geometry
*con ../zones/ceil_void.con  # construction
*ivf ../zones/ceil_void.vwf # viewfactors
*zend 
*zon   6   # reference for mixing_box  
*opr ../zones/mixing_box.opr  # schedules
*geo ../zones/mixing_box.geo  # geometry
*con ../zones/mixing_box.con  # construction
*zend 
*zon   7   # reference for floor_void  
*opr ../zones/floor_void.opr  # schedules
*geo ../zones/floor_void.geo  # geometry
*con ../zones/floor_void.con  # construction
*ivf ../zones/floor_void.vwf # viewfactors
*zend 
*zon   8   # reference for ceiling_belo
*opr ../zones/ceil_below.opr  # schedules
*geo ../zones/ceil_belowg.geo  # geometry
*con ../zones/ceil_below.con  # construction
*ivf ../zones/ceil_below.vwf # viewfactors
*zend 
*cnn office_vent_pre_3D.cnn  # connections
   3   # fluid flow network:
../nets/office_vent_netinf_pre.3dafn    # leakage description
 manager,general,conference,reception,ceil_void,mixing_box,floor_void,ceil_below
