*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:46:14 2022                  # latest modification
*base_name cellular_expl_sdhw                   # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/explicit.materialdb
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/explicit.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/cellular_expl_sdhw.log            # associated notes about the project
*contents ../doc/cellular_expl_sdhw_f.contents  # contents report for the project
*img JPG   FZON  ../images/cellular_expl_sdhw_wire.jpg
*imdoc Overall view of model with SDHW components (water filled zones)
*img JPG   FNET  ../images/corridor_with_water_tank.jpg
*imdoc Hot water storage tank (117 litres) at end of passage
*img GIF   FNET  ../images/SDHW_case_and_3_part_panel.gif
*imdoc Solar collector 3 water filled zones for collector plate
*img JPG   FNET  ../images/explicit_radiator.jpg
*imdoc water filled radiator within the office (holds 7 litres)
*img JPG   FNET  ../images/cellular_expl_sdhw.jpg
*imdoc layout of the SDHW components
#
# ---- year and seasons ----
*year 1967                                      # assessment year
*seasons 
*winter_season   2  1 12  3 30 10 31 12         # periods Mon-02-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 259      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  53
*daytag sunday, Sundays (all year),  53
*day_types    3                                 # day types & type for each day of year
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
#
# ---- site ----
*latlong  46.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt  100.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/cellular_expl_sdhw_dt.ctl           # model control file
#
# ---- simulation directives ----
*radcore  2                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    5   3  30  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    3  30  10   4   0   6   2  12   2  win1  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr cellular_expl_sdwh_win1.res
*sflr cellular_expl_sdwh_win1.mfr
*set    3  30  10   4   0  10   4  30   4  spr
*sblr cellular_expl_sdhw_spr.res
*sflr cellular_expl_sdhw_spr.mfr
*set    3  30  10   4   0   3   7   9   7  sum
*sblr cellular_expl_sdhw_sum.res
*sflr cellular_expl_sdhw_sum.mfr
*set    3  30  10   4   0   2  10   8  10  aut
*sblr cellular_expl_sdhw_aut.res
*sflr cellular_expl_sdhw_aut.mfr
*set    3  30  10   4   0  20  11  26  11  win2
*sblr cellular_expl_sdhw_win2.res
*sflr cellular_expl_sdhw_win2.mfr
#
# ---- post-processing ----
*ipv ../msc/cellular_expl_sdhw.ipv
*intipv cellular_offices_expl_sdhwipv.rep
#
# ---- building attributes ----
*building  Two adjacent cellular offices with zone-based SDHW
*zones   10                                     # number of zones
*zon   1                                        # reference for manager_a
*opr ../zones/manager.opr                       # schedules
*geo ../zones/manager_a.geo                     # geometry
*con ../zones/manager_a.con                     # constructions
*isi ../zones/manager_a.shd                     # pre-constructed S/I file
*zon   2                                        # reference for manager_b
*opr ../zones/manager_b.opr
*geo ../zones/manager_b.geo
*con ../zones/manager_b.con
*isi ../zones/manager_b.shd
*zon   3                                        # reference for corridor
*opr ../zones/corridor.opr
*geo ../zones/corridor.geo
*con ../zones/corridor.con
*zon   4                                        # reference for col_casee
*opr ../zones/col_casee.opr
*geo ../zones/col_casee.geo
*con ../zones/col_casee.con
*zon   5 Water                                  # reference for collec_low
*opr ../zones/collec_low.opr
*geo ../zones/collec_low.geo
*con ../zones/collec_low.con
*ihc ../zones/collec_low.htc                    # convective heat transfer coefficient file
*zon   6 Water                                  # reference for collec_mid
*opr ../zones/collec_mid.opr
*geo ../zones/collec_mid.geo
*con ../zones/collec_mid.con
*ihc ../zones/collec_mid.htc                    # convective heat transfer coefficient file
*zon   7 Water                                  # reference for collec_hi
*opr ../zones/collec_hi.opr
*geo ../zones/collec_hi.geo
*con ../zones/collec_hi.con
*ihc ../zones/collec_hi.htc                     # convective heat transfer coefficient file
*zon   8 Water                                  # reference for tank_117
*opr ../zones/tank_117.opr
*geo ../zones/tank_117.geo
*con ../zones/tank_117.con
*zon   9 Water                                  # reference for radiator
*opr ../zones/radiator.opr
*geo ../zones/radiator.geo
*con ../zones/radiator.con
*ihc ../zones/radiator.htc                      # convective heat transfer coefficient file
*zon  10 Water                                  # reference for rad_right
*opr ../zones/rad_right.opr
*geo ../zones/rad_right.geo
*con ../zones/rad_right.con
*ihc ../zones/rad_right.htc                     # convective heat transfer coefficient file
#
# ---- building topology ----
*cnn cellular_expl_sdhw.cnn                     # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../nets/cellular_expl_sdhw.afn # flow network file
 manager_a,manager_b,corridor,col_casee,collec_low,collec_mid,collec_hi,tank_117,radiator,rad_right
*plant none                                     # no system network
