*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:13:17 2022                  # latest modification
*base_name benchmark                            # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*stdmlc multicon.db
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm ITA_Milan
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/benchmark.log                     # associated notes about the project
#
# ---- year and seasons ----
*year 2007                                      # assessment year
*seasons 
*winter_season   1  1  3  3 11 11 31 12         # periods Mon-01-Jan--Sat-03-Mar & Sun-11-Nov--Mon-31-Dec
*spring_season   4  3 19  5  9  9 10 11         # periods Sun-04-Mar--Sat-19-May & Sun-09-Sep--Sat-10-Nov
*summer_season  20  5  8  9                     # period Sun-20-May--Sat-08-Sep
*winter_typical   5  2 11  2  2 12  8 12        # periods Mon-05-Feb--Sun-11-Feb & Sun-02-Dec--Sat-08-Dec
*spring_typical   6  5 12  5  7 10 13 10        # periods Sun-06-May--Sat-12-May & Sun-07-Oct--Sat-13-Oct
*summer_typical  17  6 23  6                    # period Sun-17-Jun--Sat-23-Jun
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*daytag holiday, holiday,   1
*day_types    4                                 # day types & type for each day of year
 4,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
#
# ---- site ----
*latlong  55.900   -4.100                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/benchmark.ctl                       # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   2   2  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    2   2  10   4   0   9   7  10   7  Summer  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr benchmark.res
#
# ---- building attributes ----
*building  benchmark cfd occupant test validation
*zones    2                                     # number of zones
*zon   1                                        # reference for Lab_Env
*opr ../zones/Lab_Env.opr                       # schedules
*geo ../zones/Lab_Env.geo                       # geometry
*con ../zones/Lab_Env.con                       # constructions
*zon   2                                        # reference for test_chamb
*opr ../zones/test_chamb.opr
*geo ../zones/test_chamb.geo
*con ../zones/test_chamb.con
*cfd ../nets/CFD_test_Lres.dfd                  # cfd domain file
#
# ---- building topology ----
*cnn benchmark.cnn                              # surface connections file
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
