*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:13:45 2022                  # latest modification
*base_name mvhr_tests                           # base name for model files
*indx    3                                      # building & plant
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*stdmlc multicon.db
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/mvhr_test.log                     # associated notes about the project
*contents ../doc/mvhr_testsac.contents          # contents report for the project
*img JPG   FZON  ../images/wire_of_mvhr.jpg
*imdoc Each of four zones represents fresh air differently
*img GIF   FNET  ../images/mvhr_layout.jpg
*imdoc Zone man_explic takes air from right mvhr zones and extracts via left
*img GIF   FPER  ../images/four_room_air_temps.jpg
*imdoc temperatures in each of the zones (note control logic differs slightly)
*img GIF   FPER  ../images/temps_in_heat_exchanger_zones.jpg
*imdoc the six zones which make up the heat exchanger - temperatures show the pattern as air moves into and out of the exchanger
*img GIF   FPER  ../images/heating_demands_vs_approach.jpg
*imdoc the manager (w/o mvhr) has highest heating other zones close to each other (fine tuning required)
#
# ---- year and seasons ----
*year 2007                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Mon-01-Jan--Mon-12-Mar & Tue-30-Oct--Mon-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Tue-13-Mar--Mon-14-May & Tue-04-Sep--Mon-29-Oct
*summer_season  15  5  3  9                     # period Tue-15-May--Mon-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Tue-06-Feb--Mon-12-Feb & Tue-20-Nov--Mon-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Tue-17-Apr--Mon-23-Apr & Tue-02-Oct--Mon-08-Oct
*summer_typical   3  7  9  7                    # period Tue-03-Jul--Mon-09-Jul
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 261      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*day_types    3                                 # day types & type for each day of year
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1
#
# ---- site ----
*latlong  55.900   -4.100                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/mvhr_test2ac.ctl                    # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   3  60   1   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    3  60   1   4   0   1   2  10   2  febr  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr mvhr_testsac.res
*sflr mvhr_testsac.mfr
*splr mvhr_testsac.plr
#
# ---- building attributes ----
*building  tests of different approaches to MVHR
*zones   12                                     # number of zones
*zon   1                                        # reference for manager
*opr ../zones/manager.opr                       # schedules
*geo ../zones/manager.geo                       # geometry
*con ../zones/manager.con                       # constructions
*zon   2                                        # reference for man_redinf
*opr ../zones/man_redinf.opr
*geo ../zones/man_redinf.geo
*con ../zones/man_redinf.con
*zon   3                                        # reference for man_explic
*opr ../zones/man_explic.opr
*geo ../zones/man_explic.geo
*con ../zones/man_explic.con
*zon   4                                        # reference for man_plt
*opr ../zones/man_plt.opr
*geo ../zones/man_plt.geo
*con ../zones/man_plt.con
*zon   5                                        # reference for mvhr_left
*opr ../zones/mvhr_left.opr
*geo ../zones/mvhr_left.geo
*con ../zones/mvhr_left.con
*ihc ../zones/mvhr_left.htc                     # convective heat transfer coefficient file
*zon   6                                        # reference for mvhr_right
*opr ../zones/mvhr_right.opr
*geo ../zones/mvhr_right.geo
*con ../zones/mvhr_right.con
*ihc ../zones/mvhr_right.htc                    # convective heat transfer coefficient file
*zon   7                                        # reference for zero
*opr ../zones/zero.opr
*geo ../zones/zero.geo
*con ../zones/zero.con
*zon   8                                        # reference for exhaust
*opr ../zones/exhaust.opr
*geo ../zones/exhaust.geo
*con ../zones/exhaust.con
*zon   9                                        # reference for mvhr_lefta
*opr ../zones/mvhr_lefta.opr
*geo ../zones/mvhr_lefta.geo
*con ../zones/mvhr_lefta.con
*ihc ../zones/mvhr_lefta.htc                    # convective heat transfer coefficient file
*zon  10                                        # reference for mvhr_righta
*opr ../zones/mvhr_righta.opr
*geo ../zones/mvhr_righta.geo
*con ../zones/mvhr_righta.con
*ihc ../zones/mvhr_righta.htc                   # convective heat transfer coefficient file
*zon  11                                        # reference for mvhr_leftb
*opr ../zones/mvhr_leftb.opr
*geo ../zones/mvhr_leftb.geo
*con ../zones/mvhr_leftb.con
*ihc ../zones/mvhr_leftb.htc                    # convective heat transfer coefficient file
*zon  12                                        # reference for mvhr_rightb
*opr ../zones/mvhr_rightb.opr
*geo ../zones/mvhr_rightb.geo
*con ../zones/mvhr_rightb.con
*ihc ../zones/mvhr_rightb.htc                   # convective heat transfer coefficient file
#
# ---- building topology ----
*cnn mvhr_tests.cnn                             # surface connections file
*Group  2
MVHR,   8
 5 6 7 8 9 10 11 12
Offices,   4
 1 2 3 4
*End
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../nets/mvhr_test2a.afn # flow network file
 manager,man_redinf,man_explic,man_plt,mvhr_left,mvhr_right,zero,exhaust,mvhr_lefta,mvhr_righta,mvhr_leftb,mvhr_rightb
*plant tests of different approaches to MVHR
../nets/mvhr_test2.pln                          # plant network file
