*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:58:32 2022                  # latest modification
*base_name rad_rooms_heat                       # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*mat ../dbs/rad_room.materialdb
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/rad_room.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm GBR_Birmingham
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/rad_rooms.log                     # associated notes about the project
*contents ../doc/rad_rooms_heat.contents        # contents report for the project
*img GIF   FZON  ../images/wire_from_above.gif
*imdoc Two patient rooms: 400 mm panel (left) and 600 mm panel (right)
*img GIF   FZON  ../images/wire_bed_400_above.gif
*imdoc Location of radiant sensors at bed and standing heights.
*img GIF   FPER  ../images/forth_400mm_roomT.gif
*imdoc Room and ceiling temperatures for 400 mm panel.
*img GIF   FPER  ../images/fort_600_roomT.gif
*imdoc Room and ceiling temperatures for 600 mm panel.
*img GIF   FPER  ../images/PPD_both_rooms.gif
*imdoc Percentage persons dissatified.
#
# ---- year and seasons ----
*year 1995                                      # assessment year
*seasons 
*winter_season   1  1  5  3 30 10 31 12         # periods Sun-01-Jan--Sun-05-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season   6  3 14  5 28  8 29 10         # periods Mon-06-Mar--Sun-14-May & Mon-28-Aug--Sun-29-Oct
*summer_season  15  5 27  8                     # period Mon-15-May--Sun-27-Aug
*winter_typical  29  1  4  2  4 12 10 12        # periods Sun-29-Jan--Sat-04-Feb & Mon-04-Dec--Sun-10-Dec
*spring_typical   3  4  9  4 11  9 17  9        # periods Mon-03-Apr--Sun-09-Apr & Mon-11-Sep--Sun-17-Sep
*summer_typical  19  6 25  6                    # period Mon-19-Jun--Sun-25-Jun
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  53
*day_types    3                                 # day types & type for each day of year
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3
#
# ---- site ----
*latlong  52.450   -1.730                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/rad_room_heat.ctl                   # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    2   4  60  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    4  60  10   4   0   1   2   7   2  win  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr rad_rooms_win.res
*set    4  60  10   4   0   1   7  30   9  summer
*sblr rad_rooms_sum.res
#
# ---- building attributes ----
*building  Single person hospital room to explore panel heater performance.
*zones    6                                     # number of zones
*zon   1                                        # reference for one_bed_400
*opr ../zones/one_bed_400.opr                   # schedules
*geo ../zones/one_bed_400.geo                   # geometry
*con ../zones/one_bed_400.con                   # constructions
*ivf ../zones/one_bed_400.vwf                   # view factors
*isi ../zones/one_bed_400.shd                   # pre-constructed S/I file
*zon   2                                        # reference for plenum
*opr ../zones/plenum.opr
*geo ../zones/plenum.geo
*con ../zones/plenum.con
*zon   3                                        # reference for lower_plen
*opr ../zones/lower_plen.opr
*geo ../zones/lower_plen.geo
*con ../zones/lower_plen.con
*zon   4                                        # reference for one_bed_600
*opr ../zones/one_bed_600.opr
*geo ../zones/one_bed_600.geo
*con ../zones/one_bed_600.con
*ivf ../zones/one_bed_600.vwf
*isi ../zones/one_bed_600.shd
*zon   5                                        # reference for rad_400
*opr ../zones/rad_400.opr
*geo ../zones/rad_400.geo
*con ../zones/rad_400.con
*ihc ../zones/rad_400.htc                       # convective heat transfer coefficient file
*zon   6                                        # reference for rad_600
*opr ../zones/rad_600.opr
*geo ../zones/rad_600.geo
*con ../zones/rad_600.con
*ihc ../zones/rad_600.htc                       # convective heat transfer coefficient file
#
# ---- building topology ----
*cnn rad_rooms_heat.cnn                         # surface connections file
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
