* CONFIGURATION3.0
# ESRU system configuration defined by file 
# CFD_room_occ.cfg
*date Wed Mar 15 11:40:24 2017  # latest file modification 
*root CFD_room4
*zonpth  ../zones                  # path to zones
*netpth  ../nets                   # path to networks
*ctlpth  ../ctl                    # path to controls
*aimpth ./                        # path to aim2 files
*radpth ../rad                    # path to radiance files
*imgpth  ../images                 # path to project images
*docpth  ../doc                    # path to project documents
*dbspth  ../dbs                    # path to local databases
*hvacpth ./hvac                    # path to hvac files
*bsmpth ./                        # path to BASESIMP files
*radcore  1  # number of cores available to Radiance
*indx    1 # Building only
 30.130    1.400   # Latitude & Longitude (diff from time meridian)
      1   0.200   # Site exposure & ground reflectivity
* DATABASES
*stdmat  material.db
*stdcfcdb  CFClayers.db1.a
*stdmlc  multicon.db
*stdopt  optics.db
*stdprs  pressc.db1
*stdevn  profiles.db2.a
*stdclm  EGY_Cairo
*stdmscldb  mscomp.db1
*stdmould  mould.db1 # mould isopleths
*stdpdb  plantc.db1
*stdsbem  SBEM.db1
*stdpredef  predefined.db1
*slr_half_hr   0  # solar timing hour centred
*quick_run   0  # no
*ctl  ../ctl/CFD_room_occ.ctl
*contents ../doc/CFD_room_occ.contents
*year  1967 # assessment year
*water_in_zones 0.6  998.2 4190.0    0.0 # water cond density spec ht shortwave abs
*img GIF   FDFS  ../images/CFD_room_grid.gif
# sim setup: no. sets startup zone_ts plant_ts save_lv @ each ts
*sps    2   3  10  10   4   0
  15   5  18   5  default  # period & name
*sblr CFD_room.res
*end_set
   9   7  15   7  sum      # period & name
*sblr CFD_room_sum.res
*end_set
*end_sps
# Name and address of building
*B-NAME not yet defined
*B-ADDRESS not yet defined
*B-CITY not yet defined
*B-POSTCODE not yet defined
# Contact information for building owner
*O-NAME not yet defined
*O-ADDRESS not yet defined
*O-CITY not yet defined
*O-POSTCODE not yet defined
*O-TELEPHONE not yet defined
# Contact information for simulation team
*C-NAME not yet defined
*C-ADDRESS not yet defined
*C-CITY not yet defined
*C-POSTCODE not yet defined
*C-TELEPHONE not yet defined
* PROJ LOG
../doc/CFD_room.log
* Building
A basic room with CFD domain defined (adaptive conflation)
      1  # no of zones
*zon   1   # reference for room        
*opr ../zones/room.opr  # schedules
*geo ../zones/room_occ.geo  # geometry
*con ../zones/room.con  # construction
*cfd ../nets/room_conf_Lres.dfd  # cfd domain
*zend 
*cnn CFD_room_occ.cnn  # connections
   0   # no fluid flow network
