*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 14:48:14 2022                  # latest modification
*base_name pid.ss                               # base name for model files
*indx    3                                      # building & plant
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../networks                             # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db2.a
*stdmlc multicon.db
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/pid.log                           # associated notes about the project
*contents ../doc/pid.ss.contents                # contents report for the project
*img GIF   ****  ../images/pid.gif
*imdoc schematic of the PID control
#
# ---- year and seasons ----
*year 1967                                      # assessment year
*seasons 
*winter_season   2  1 12  3 30 10 31 12         # periods Mon-02-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Mon-06-Feb--Sun-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
#
# ---- site ----
*latlong  51.700   -0.500                       # latitude & longitude difference (from reference meridian)
*site       2   0.200                           # exposure: typical urban & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
*ground
*mgp   1
   4.60   2.80   3.30   5.10   6.10   9.60  11.40  13.60  14.30  12.70   7.50   5.50
*ground_end
#
# ---- model controls ----
*ctl ../ctl/pid_ss.ctl                          # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    3   1   4  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    1   4  10   4   0   6   2  12   2  win  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr bld_pidss_win.res
*splr bld_pidss_win.plr
*set    1   4  10   4   0  17   4  23   4  trn
*sblr bld_pidss_trn.res
*splr bld_pidss_trn.plr
*set    1   4  10   4   0   7   7  12   7  sum
*sblr bld_pidss_sum.res
*splr bld_pidss_sum.plr
#
# ---- building attributes ----
*building  Basic 3 zone model with PID ss control
*zones    3                                     # number of zones
*zon   1                                        # reference for reception
*opr ../zones/reception.opr                     # schedules
*geo ../zones/reception.geo                     # geometry
*con ../zones/reception.con                     # constructions
*zon   2                                        # reference for office
*opr ../zones/office.opr
*geo ../zones/office.geo
*con ../zones/office.con
*zon   3                                        # reference for roof_space
*opr ../zones/roof_space.opr
*geo ../zones/roof_space.geo
*con ../zones/roof_space.con
#
# ---- building topology ----
*cnn pid.ss.cnn                                 # surface connections file
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant Basic 3 zone model with PID ss control
../networks/pid.pnf                             # plant network file
