*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:01:32 2022                  # latest modification
*base_name burdie_alt                           # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zone                                 # path to zone files
*netpth ../flow                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/burdie.mdb-alt
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm clm67
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/burdie.notes                      # associated notes about the project
*contents ../doc/burdie_alt.contents            # contents report for the project
*img GIF   FZON  ../images/heat_recov.gif
*imdoc heat recovery scheme
*img GIF   FSIM  ../images/simpar.gif
*imdoc conbtext of the assessment
*img GIF   FPER  ../images/mld_predict.gif
*imdoc mould growth curves for surface
#
# ---- year and seasons ----
*year 2000                                      # assessment year
*seasons 
*winter_season   1  1 12  3 30 10 31 12         # periods Sat-01-Jan--Sun-12-Mar & Mon-30-Oct--Sun-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Mon-13-Mar--Sun-14-May & Mon-04-Sep--Sun-29-Oct
*summer_season  15  5  3  9                     # period Mon-15-May--Sun-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Sun-06-Feb--Sat-12-Feb & Mon-20-Nov--Sun-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Mon-17-Apr--Sun-23-Apr & Mon-02-Oct--Sun-08-Oct
*summer_typical   3  7  9  7                    # period Mon-03-Jul--Sun-09-Jul
#
# ---- site ----
*latlong  50.000    0.000                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/burdie.ctl                          # model control file
*rif ../rad/burdie.rif
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   4   2  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    4   2  10   4   0   1   3  16   3  default  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr burdie_alt.res
*sflr burdie_alt.mfr
*smstr burdie_alt.msr
#
# ---- building attributes ----
*building  burdie house detailed model (alternate contructions)
*zones   13                                     # number of zones
*zon   1                                        # reference for living_room
*opr ../zone/living_room.opr                    # schedules
*geo ../zone/living_alt.geo                     # geometry
*con ../zone/living_room.con-alt                # constructions
*zon   2                                        # reference for hall
*opr ../zone/hall.opr
*geo ../zone/hall_alt.geo
*con ../zone/hall.con-alt
*zon   3                                        # reference for bathroom
*opr ../zone/bathroom.opr
*geo ../zone/bathrm_alt.geo
*con ../zone/bathroom.con-alt
*zon   4                                        # reference for kitchen
*opr ../zone/kitchen.opr
*geo ../zone/kitch_alt.geo
*con ../zone/kitchen.con-alt
*zon   5                                        # reference for store
*opr ../zone/store.opr
*geo ../zone/store_alt.geo
*con ../zone/store.con-alt
*zon   6                                        # reference for hall_up
*opr ../zone/hall_up.opr
*geo ../zone/hall_up_alt.geo
*con ../zone/hall_up.con-alt
*zon   7                                        # reference for bed_1
*opr ../zone/bed_1.opr
*geo ../zone/bed_1_alt.geo
*con ../zone/bed_1.con-alt
*zon   8                                        # reference for bed_2
*opr ../zone/bed_2.opr
*geo ../zone/bed_2_alt.geo
*con ../zone/bed_2.con-alt
*zon   9                                        # reference for bed_3
*opr ../zone/bed_3.opr
*geo ../zone/bed_3_alt.geo
*con ../zone/bed_3.con-alt
*mst ../zone/bed_3.mst-ii                       # construction moisture file
*zon  10                                        # reference for t_bridge
*opr ../zone/t_bridge.opr
*geo ../zone/t_bridge.geo
*con ../zone/t_bridge.con
*zon  11                                        # reference for loft
*opr ../zone/loft.opr
*geo ../zone/loft_alt.geo
*con ../zone/loft.con-alt
*zon  12                                        # reference for collector
*opr ../zone/collector.opr
*geo ../zone/collector.geo
*con ../zone/collector.con
*zon  13                                        # reference for bed_3_air_g
*opr ../zone/bed_3_air_gap.opr
*geo ../zone/bed_3_air_gap.geo
*con ../zone/bed_3_air_gap.con
#
# ---- building topology ----
*cnn burdie_alt.cnn                             # surface connections file
#
# ---- networks ----
*flow legacy                                    # legacy fluid flow network
../flow/burdie.mfn # flow network file
 liv,hall,bath,kitch,store,hal_up,bed1,bed2,bed3,t_br,loft,coll,a_gap
*plant none                                     # no system network
