*configuration 4.2                              # ESP-r model configuration
*date Thu May 26 15:15:06 2022                  # latest modification
*base_name 3BR_block_bung_p2m_cool              # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db1.a
*mlc ../dbs/learwick_V1d.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*stdclm GBR_lerwick
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/3BR_block_bungalow.log            # associated notes about the project
*contents ../doc/3BR_block_bung_p2m_cool.contents  # contents report for the project
*img TIF   FZON  ../images/3BR_block_bungalow_wire.tiff
*imdoc Overall view of the 1930s block and render bungalow
*img TIF   FZON  ../images/3BR_ground_level_wire.tiff
*imdoc ground level rooms in the bungalow
*img TIF   FZON  ../images/3BR_upper_level_wire.tiff
*imdoc Upper level rooms in the bungalow
#
# ---- year and seasons ----
*year 2007                                      # assessment year
*seasons 
*winter_season   2  1 12  3 30 10 31 12         # periods Tue-02-Jan--Mon-12-Mar & Tue-30-Oct--Mon-31-Dec
*spring_season  13  3 14  5  4  9 29 10         # periods Tue-13-Mar--Mon-14-May & Tue-04-Sep--Mon-29-Oct
*summer_season  15  5  3  9                     # period Tue-15-May--Mon-03-Sep
*winter_typical   6  2 12  2 20 11 26 11        # periods Tue-06-Feb--Mon-12-Feb & Tue-20-Nov--Mon-26-Nov
*spring_typical  17  4 23  4  2 10  8 10        # periods Tue-17-Apr--Mon-23-Apr & Tue-02-Oct--Mon-08-Oct
*summer_typical   3  7  9  7                    # period Tue-03-Jul--Mon-09-Jul
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year),   6      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),   0
*daytag sunday, Sundays (all year),   0
*daytag win_wkday, winter pattern weekdays,  78
*daytag win_wkend, winter pattern weekends,  32
*daytag trn_wkday, trn season weekdays, 109
*daytag trn_wkend, trn season weekends,  44
*daytag sum_wkday, summer season weekdays,  60
*daytag sum_wkend, summer season weekends,  26
*daytag holiday, go away holiday,  10
*day_types   10                                 # day types & type for each day of year
 10,10,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4, 
 4,5,5,4,4,4,4,4,5,5,4,4,4,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6, 
 6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7, 
 6,6,6,6,6,7,7,6,6,6,6,1,9,9,8,8,8,8,8,9,9,8,8,8,8,8,9,9,8,8,8,8,8,9,9,8,8,8,8,8,9,9,8,8,8,8,8, 
 9,9,8,8,8,8,8,9,9,8,8,8,8,8,9,9,8,8,8,8,8,9,9,8,8,8,8,8,9,9,1,1,1,1,1,9,9,8,8,8,8,8,9,9,8,8,8, 
 8,8,9,9,8,8,8,8,8,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6, 
 6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,6,6,7,7,6,6,6,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5, 
 5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,4,4,4,4,4,5,5,10,10,10,10,10,10,10,10
#
# ---- primary energy conversions ----
*pecnv  1.530 1.440 3.600 3.600 3.600 1.530     # PEC heat cool lights fan sml pwr hot water
*htemis   190.000    0.300    0.200             # heating emissions CO2,NOX,SOX
*clemis   612.000    2.060    7.570             # cooling emissions CO2,NOX,SOX
*ltemis   612.000    2.060    7.570             # lighting emissions CO2,NOX,SOX
*fnemis   612.000    2.060    7.570             # fan/pump emissions CO2,NOX,SOX
*spemis   612.000    2.060    7.570             # small power emissions CO2,NOX,SOX
*hwemis   190.000    0.300    0.200             # DHW emissions CO2,NOX,SOX
#
# ---- site ----
*latlong  55.900   -4.100                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt    0.0                                 # site altitude (m)
#
# ---- model controls ----
*ctl ../ctl/3BR_block_bung_p2m_cool.ctl         # model control file
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    5  41   4  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set   41   4  10   4   0   5   2  11   2  win1  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr 3BR_block_bung_p2m_cool_win1.res
*set   41   4  10   4   0  17   4  23   4  spr
*sblr 3BR_block_bung_p2m_cool_spr.res
*set   41   4  10   4   0  19   6  25   6  sum
*sblr 3BR_block_bung_p2m_cool_sum.res
*set   41   4  10   4   0   2  10   8  10  aut
*sblr 3BR_block_bung_p2m_cool_aut.res
*set   41   4  10   4   0  20  11  26  11  win2
*sblr 3BR_block_bung_p2m_cool_win2.res
#
# ---- post-processing ----
*ipv ../msc/3BR_block_bung_p2m_cool.ipv
*intipv 3BR_block_bung_p2m_cool_ipv.rep
#
# ---- building attributes ----
*building  P2M 3BR cool 1930s block & render + block int bungalow in Scotland
*zones   13                                     # number of zones
*zon   1                                        # reference for lower_bath
*opr ../zones/main_bath_p2M.opr                 # schedules
*geo ../zones/lower_bath.geo                    # geometry
*con ../zones/lower_bath.con                    # constructions
*zon   2                                        # reference for entry
*opr ../zones/hall_p2M.opr
*geo ../zones/entry.geo
*con ../zones/entry.con
*zon   3                                        # reference for living
*opr ../zones/living_p2M.opr
*geo ../zones/living.geo
*con ../zones/living.con
*zon   4                                        # reference for up_br2
*opr ../zones/main_br_p2M.opr
*geo ../zones/up_br2.geo
*con ../zones/up_br2.con
*zon   5                                        # reference for upstair_pa
*opr ../zones/hall_p2M.opr
*geo ../zones/upstair_pa.geo
*con ../zones/upstair_pa.con
*zon   6                                        # reference for upper_wc
*opr ../zones/small_bath_p2M.opr
*geo ../zones/upper_wc.geo
*con ../zones/upper_wc.con
*zon   7                                        # reference for up_br_one
*opr ../zones/small_br3_p2M.opr
*geo ../zones/up_br_one.geo
*con ../zones/up_br_one.con
*zon   8                                        # reference for up_br_three
*opr ../zones/small_br_p2M.opr
*geo ../zones/up_br_three.geo
*con ../zones/up_br_three.con
*zon   9                                        # reference for below_str
*opr ../zones/storage.opr
*geo ../zones/below_str.geo
*con ../zones/below_str.con
*zon  10                                        # reference for roof_space
*opr ../zones/roof_space.opr
*geo ../zones/roof_space.geo
*con ../zones/roof_space.con
*zon  11                                        # reference for crawl
*opr ../zones/crawl.opr
*geo ../zones/crawl.geo
*con ../zones/crawl.con
*zon  12                                        # reference for kit_dining
*opr ../zones/kitchen_p2M.opr
*geo ../zones/kit_dining.geo
*con ../zones/kit_dining.con
*zon  13                                        # reference for garage
*opr ../zones/garage.opr
*geo ../zones/garage.geo
*con ../zones/garage.con
#
# ---- building topology ----
*cnn 3BR_block_bung_p2m_cool.cnn                # surface connections file
*Anchor  3
partitions   SURF 61
 5 7 8 14 16 21 23 24 31 32 33 36 43 44 46 52 53 57 58 59 61 62 65 64 75 78 80 82 83 85 87 88 89 100 102 104 105 107 117  
 118 119 121 127 128 130 137 151 188 189 190 0 42 54 93 95 145 146 171 178 193 198
facade       SURF 39
 0 2 3 4 11 17 19 30 38 39 40 41 49 66 68 76 92 101 111 112 114 126 132 134 143 144 158 159 172 173 174 175 176 177 180 183  
 192 194 195
ext_glaz     SURF 11
 0 13 51 73 97 110 124 140 182 185 201
*End
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
